<footer class="footer">
  <div class="footer__button">
    <include
      src="./link.html"
      aClass="footer__button--link"
      urlLink="#top"
      relLink="Inicio"
      titleLink="Ir al inicio de la página"
      urlImage="./assets/images/ico-arrow.svg"
      altImage="Ir al inicio de la página"
      titleImage="Enlace a inicio"
    ></include>
  </div>
  <div class="footer__content">
    <nav>
      <ul class="footer__content--menuPrimary">
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Articles"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Books"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Events"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Reasons"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Tips"
          ></include>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="footer__content--menuSecondary">
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Twitter"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Instagram"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Mastodon.social"
          ></include>
        </li>
      </ul>
    </nav>
    <small class="footer__content--small">
      <span class="footer__content--small-item">&copy;2017</span>
      <span class="footer__content--small-item"
        >We <i class="fas fa-heart"></i> components</span
      >
    </small>
  </div>
</footer>
