<footer class="footer">
	<div class="footer__button">
		<include
		src="./link.html" 
		aClass="footer__button-link"
		urlLink="#top 
		relLink="Inicio" 
		titleLink="Ir al inicio de la página" 
		urlImage="./assets/images/ico-arrow.svg"
		altImage="Ir al inicio de la página" titleImage="Enlace a inicio"
		></include>
	</div>
	<div class="footer__wrapper">
		<div class="footer__small">
			<span>
				<small>&copy; 2017</small>
			</span> 
			<span>
				<small>We
					<i class="fas fa-heart"></i>Components 
				</small>
			</span> 
		</div>
		<nav class="footer__list">
			<ul>
				<li>    
					<include 
					src="./link.html"
					urlLink="https://adalab.es/" relLink="Web de Adalab"
					titleLink="Ir a la web de Adalab"
					text="Articles"
					></include>
				</li>
				<li>    
					<include 
					src="./link.html"
					urlLink="https://adalab.es/" 
					relLink="Web de Adalab"
					titleLink="Ir a la web de Adalab"
					text="Books"
					></include>
				</li>
				<li>    
					<include 
					src="./link.html"
					urlLink="https://adalab.es/" 
					relLink="Web de Adalab"
					titleLink="Ir a la web de Adalab"
					text="Events"
					></include>
				</li>
				<li>    
					<include 
					src="./link.html"
					urlLink="https://adalab.es/" 
					relLink="Web de Adalab"
					titleLink="Ir a la web de Adalab"
					text="Reasons"
					></include>
				</li>
				<li>    
					<include 
					src="./link.html"
					urlLink="https://adalab.es/" 
					relLink="Web de Adalab"
					titleLink="Ir a la web de Adalab"
					text="Tips"
					></include>
				</li>
			</ul>
		</nav>
		<nav class="footer__list">
			<ul>
				<li>    
					<include 
					src="./link.html"
					urlLink="https://adalab.es/" 
					relLink="Web de Adalab"
					titleLink="Ir a la web de Adalab"
					text="Twitter"
					></include>
				</li>
				<li>    
					<include 
					src="./link.html"
					urlLink="https://adalab.es/" relLink="Web de Adalab"
					titleLink="Ir a la web de Adalab"
					text="Instagram"
					></include>
				</li>
				<li>    
					<include 
					src="./link.html"
					urlLink="https://adalab.es/" relLink="Web de Adalab"
					titleLink="Ir a la web de Adalab"
					text="Mastodoon.social"
					></include>
				</li>
			</ul>
		</nav>
	</div>	
</footer>
							