<footer class="footer">
  <div class="footer__button">
    <include
      src="./link.html"
      aClass="footer__button--link"
      urlLink="#top"
      relLink="Inicio"
      titleLink="Ir al inicio de la página"
      urlImage="./assets/images/ico-arrow.svg"
      altImage="Ir al inicio de la página"
      titleImage="Enlace a inicio"
    ></include>
  </div>
  <div class="footer__menuWrapper">
    <nav class="footer__menuWrapper--primary">
      <ul>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Articles"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Books"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Events"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Reasons"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Tips"
          ></include>
        </li>
      </ul>
    </nav>
    <nav class="footer__menuWrapper--secondary">
      <ul>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Twitter"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Instagram"
          ></include>
        </li>
        <li class="footer__item">
          <include
            src="./link.html"
            aClass="footer__item--link"
            urlLink="https://adalab.es/"
            relLink="Web de Adalab"
            titleLink="Ir a la web de Adalab"
            text="Mastodon.social"
          ></include>
        </li>
      </ul>
    </nav>
    <div class="footer__menuWrapper--small">
      <span class="footer__item--small">
        <small>&copy;2017</small>
      </span>
      <span class="footer__item--small">
        <small>We <i class="fas fa-heart"></i> components </small>
      </span>
    </div>
  </div>
</footer>
