<article class="article">
  <small class="article__small">Insomnia Tips</small>
  <h2 class="article__title">Looking through a window</h2>
  <p class="article__text">
    Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
    luctus ex diam nec lectus. Vivamus semper sodales rutrum.
  </p>
  <div class="article__button">
    <include
      src="./link.html"
      aClass="xxxx"
      urlLink="#top"
      relLink="Inicio"
      titleLink="Ir al inicio de la página"
    ></include
    >Go
  </div>
</article>
