//Fonts
$font-title: "Roboto Slab", sans-serif;
$font-text: "Roboto", sans-serif;

//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-secondary: #8ccbea;
$color-tertiary: #f26002;
$color-button: #0271bc;
$color-footer: #304268;
$color-aside: #eff9ff;
