//Fonts
$font-title: "Roboto Slab", sans-serif;
/* $font-titleHeader: 42px;
$font-titlesMedium: 24px;
$font-titlesSmall: 18px; */

$font-text: "Roboto", sans-serif;
/* $font-textBody: 16px;
$font-textMedium: 18px;
$font-textButtons: 20px;
$font-textSmall: 14px; */

//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-secondary: #8ccbea;
$color-tertiary: #f26002;
$color-button: #0271bc;
$color-footer: #304268;
$color-aside: #eff9ff;
