.footer {
  background-color: $color-footer;
  padding: 10px 15px 0 15px;
  font-family: $font-text;
  font-size: 16px;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media all and (min-width: 768px) {
    padding: 10px 39px 0 39px;
  }
  @media all and (min-width: 1280px) {
    padding: 10px 370px 0 370px;
  }
  &__button {
    background-color: $color-white;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -70%);
    border-radius: 50%;
    animation-name: turns;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    &--link {
      padding: 10px;
      display: flex;
      justify-content: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    width: 100%;
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      margin-bottom: 45px;
    }
    @media all and (min-width: 1280px) {
      justify-content: center;
    }
    &--menuPrimary {
      @media all and (min-width: 768px) {
        margin: 0 70px;
      }
    }
    &--menuSecondary {
      margin-top: 30px;
      @media all and (min-width: 768px) {
        margin-top: 0;
      }
    }
    &--small {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 45px;
      @media all and (min-width: 768px) {
        margin-top: 0;
        order: -1;
      }
      &-item {
        text-align: center;
        text-transform: lowercase;
        @media all and (min-width: 768px) {
          text-align: left;
        }
      }
    }
  }
  &__item {
    list-style: none;
    &--link {
      color: white;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
.fa-heart {
  color: $color-tertiary;
  transition: font-size ease 1s;
  &:hover {
    font-size: 20px;
  }
}
@keyframes turns {
  from {
    transform: translate(0, -70%) rotate(0deg);
  }
  40% {
    transform: translate(0, -110%) rotate(360deg);
  }
  80% {
    transform: translate(0, -110%) rotate(360deg);
  }
  to {
    transform: translate(0, -70%) rotate(0deg);
  }
}
