.footer {
  background-color: $color-footer;
  height: 465px;
  padding: 60px 15px 45px 15px;
  font-family: $font-text;
  line-height: 30px;
  font-size: 16px;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @media all and (min-width: 768px) {
    height: 240px;
    padding: 45px 39px;
    align-items: inherit;
  }
  @media all and (min-width: 1280px) {
    height: 240px;
    padding: 45px 370px;
  }
  &__button {
    background-color: $color-white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    top: -30px;
    animation-name: turns;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    @media all and (min-width: 768px) {
      top: -20px;
      left: 320px;
    }
    @media all and (min-width: 1280px) {
      left: 240px;
    }
    &--link {
      padding: 10px;
      display: flex;
      justify-content: center;
    }
  }
  &__menuWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media all and (min-width: 768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      text-align: left;
    }
    &--secondary {
      margin-top: 30px;
      @media all and (min-width: 768px) {
        margin: 0 30px;
        order: -1;
      }
    }
    &--small {
      margin-top: 30px;
      font-size: 14px;
      @media all and (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
  &__item {
    list-style: none;

    &--link {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
    &--small {
      display: block;
      text-transform: lowercase;
    }
  }
}

.fa-heart {
  color: $color-tertiary;
  transition: font-size ease 1s;
  &:hover {
    font-size: 20px;
  }
}
@keyframes turns {
  from {
    transform: rotate (0);
  }
  40% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
