.header {
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: $color-white;
  padding: 0 15px;
  @media all and (min-width: 768px) {
    padding: 0 39px;
  }
  @media all and (min-width: 1280px) {
    padding: 0 275px;
  }
  &__menu {
    &--link {
      padding: 10px;
      background-color: $color-button;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  &__heroTitle {
    font-family: $font-title;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    @media all and (min-width: 768px) {
      font-size: 80px;
      line-height: 106px;
    }
    @media all and (min-width: 1280px) {
      font-size: 100px;
      line-height: 132px;
    }
  }
  &__heroText {
    margin-top: 10px;
    font-family: $font-text;
    font-size: 16px;
    @media all and (min-width: 768px) {
      font-size: 24px;
      margin-top: 20px;
    }
    @media all and (min-width: 1280px) {
      margin-top: 0;
    }
  }
  &__heroButton {
    background-color: $color-white;
    display: flex;
    justify-content: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-top: 45px;
    margin-bottom: 53px;
    @media all and (min-width: 768px) {
      margin-top: 30px;
      margin-bottom: 45px;
    }
    @media all and (min-width: 1280px) {
      margin-bottom: 5px;
    }
    &--Link {
      padding: 16px;
      margin-top: 1px;
    }
  }
}
