/* /no está bien centrado */
.aside {
  background-color: $color-aside;
  padding: 0 15px;
  height: 624px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  padding-top: 30px;
  &__title {
    text-transform: capitalize;
    font-family: $font-title;
    font-size: 24px;
  }
  &__textWrapper {
    display: grid;
    height: 480px;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    &--text {
      margin: 28px 50px;
    }
  }
  &__button {
    width: 184px;
    height: 45px;
    font-weight: 700;
    color: $color-white;
    background-color: $color-tertiary;
    border: 2px solid $color-tertiary;
    border-radius: 30px;
    font-size: 20px;
    line-height: 45px;
  }
  /* mirar el font aquí  y mirar márgenes en general*/
}
